// Body
$body-bg: #fffefb;

// Typography
$font-family-sans-serif: 'Open Sans', 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$enable-dark-mode: true;

$color-mode-type: media-query;

$modal-fade-transform: scale(.8);
$modal-transition: transform .1s ease-out;
