// Body
$body-bg: #f8f8f8;

// Typography
$font-family-sans-serif: 'Open Sans', 'Nunito', sans-serif;
//$font-size-base: 0.9rem;
$line-height-base: 1.5;

$enable-dark-mode: true;

$color-mode-type: data;

$modal-fade-transform: scale(.8);
$modal-transition: transform .1s ease-out;
