// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';

$all-colors: map-merge-multiple($blues, $indigos, $purples, $pinks, $reds, $oranges, $yellows, $greens, $teals, $cyans);
@each $utility in ("background-color", "color") {
    $utilities: map-merge(
            $utilities,
            (
                #{$utility}: map-merge(
                        map-get($utilities, $utility),
                        (
                            values: map-merge(
                                    map-get(map-get($utilities, $utility), "values"),
                                    $all-colors
                            ),
                        ),
                ),
            )
    );
}
@import "bootstrap/scss/utilities/api";

@import '../css/app.css';
@import 'bootstrap-sidebar.scss';

@include color-mode(light) {
    .card {
        --bs-card-bg: var(--bs-white);
    }
}

@include color-mode(dark) {
    .card {
        --bs-card-bg: var(--bs-dark-bg-subtle);
    }
}
