/* nunito-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: url('nunito-v26-latin-regular.woff2') format('woff2'),
    url('nunito-v26-latin-regular.ttf') format('truetype');
}


.navbar-brand img {
    height: 32px;
}

.modal:nth-of-type(even) {
    z-index: 1052 !important;
}
.modal-backdrop.show:nth-of-type(even) {
    z-index: 1051 !important;
}

input, label {
    user-select: none;
}

.rounded-left {
    border-top-left-radius: .25rem !important;
    border-bottom-left-radius: .25rem !important;
}

.rounded-right {
    border-top-right-radius: .25rem !important;
    border-bottom-right-radius: .25rem !important;
}

.border-left-0 {
    border-left: 0 !important;
}

.blur {
    filter: blur(8px);
}

.blur-hover {
    filter: blur(8px);
    transition: filter 0.1s ease;
    -webkit-touch-callout: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    /*pointer-events: none;*/
}
.blur-hover:hover, .blur-hover:active .blur-hover:focus {
    filter: none;
}
